* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}




#button {
    background-color: palevioletred;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;  
}

.button:hover {
    box-shadow: 5px 5px 5px pink;
}





